<div class="jumbotron">
	<div class="container">
		<h1>家計簿つけてみませんか？</h1>
		<p>毎日の支出を記録することで、生活の傾向を把握することができます。</p>
		<p>Householderは、あなたのお財布情報を可視化するアプリです。</p>
		<%= pie_chart @graph_data %>
	</div>
</div>
